body {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.wrapper {
    width: 300px;
    height: 500px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.card__icon {
    font-size: 50px;
}
.card__heading {
    font-family: "Courier New", Courier, monospace;
}
.card__text {
    font-family: "Courier New", Courier, monospace;
}
.card__btn {
    border: none;
    padding: 10px 25px;
    background: green;
    cursor: pointer;
    transition: all 0.1s ease;
    border-radius: 10px;
}
.card__btn:active {
    scale: 0.9;
}

.heading {
    color: blue;
}
